
.table-head {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px !important;
    background-color: #282c34;
    
    /* max-height: 1px !important; */
}

.table-head-item{
    color: white !important;
   
}