.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-left: 0vh;
}



.App-header {
  /* background-color: #282c34; */
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-color: white;
  width: 98%;
  border-radius: 2px;
  margin: 10px 0;
}

.table__container {
  /* height: 200px; */
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}